<h1>Editing prefecture</h1>

<%= render "form", prefecture: @prefecture %>

<br>

<div>
  <%= link_to "Show this prefecture", @prefecture %> |
  <%= link_to "Back to prefectures", prefectures_path %>
</div>
