<div id="<%= dom_id school %>">
  <p>
    <strong>Name:</strong>
    <%= school.name %>
  </p>

  <p>
    <strong>School:</strong>
    <%= school.school_id %>
  </p>

  <p>
    <strong>Prefecture:</strong>
    <%= school.prefecture_id %>
  </p>

</div>
